<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="username">Введите имя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="age">Введите возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div class="form-group row">
        <label class="col-4 col-form-label">Roles: </label>
        <div class="col-8">
            <!--/*@thymesVar id="listRoles" type="ru.kata.spring.boot_security.demo"*/-->
            <th:block th:each="role: ${listRoles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.getNameRole()}" th:value="${role.getId()}" class="m-2" />
            </th:block>
        </div>
    </div>
    <br/>
    <input type="submit" value="Создать!"/>

</form>

</body>
</html>